<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.development.min.js"
        integrity="sha512-6i4FxVh0YbXCtxtqrFlG0H6FJRO4YQ5fyFH0JBdAAiqCt6/Q+jHMabMSC8FpESVSJZvnQ52dB2A8OD9SMk7buw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.development.min.js"
        integrity="sha512-I5GJQRKGdj2miDs8ComgARfiAQiZJo/43YasH22qtweoG+YRXLTDYegxC/vPgw/ERxRzww/F4l4+8UiMmI20sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="index.html" />
</head>

<body>
    <div class="navbar">
        <div class="title">
            <img src="./static/img/logo.png">
        </div>
         <a href="index">Home Page</a>
        |
        <a href="employees">Employees</a>
        |
        <a href="contracts">Contracts</a>
        |
        <a href="departments">Departments</a>
        |
        <a href="employee-contracts">Employee Contracts</a>
        |
        <a href="jobs">Jobs</a>
        |
        <a href="locations">Locations</a>
        <hr>
    </div>
    <br />

    <h2>HOME PAGE</h2>
    <div>
        Welcome to the Human Resources Management Application!
    </div>
</body>

</html>
</body>

</html>